{% load static %}

<header class="floating">
    <div class="{{ header_type_lower }}"></div>
</header>
<header class="main">
    <main>
        {% with image_src='images/header/'|add:header_type_lower|add:'.png' %}
            {% if header_type_lower == 'obr' and config_global.logo_link_obr %}
                <a href="{{ config_global.logo_link_obr }}">
                    <img alt="Logo" class="logo" src="{% static image_src %}"/>
                </a>
            {% elif header_type_lower == 'cbr' and config_global.logo_link_cbr %}
                <a href="{{ config_global.logo_link_cbr }}">
                    <img alt="Logo" class="logo" src="{% static image_src %}"/>
                </a>
            {% elif header_type_lower == 'mnr' and config_global.logo_link_mnr %}
                <a href="{{ config_global.logo_link_mnr }}">
                    <img alt="Logo" class="logo" src="{% static image_src %}"/>
                </a>
            {% else %}
                <a href="/">
                    <img alt="Logo" class="logo" src="{% static image_src %}"/>
                </a>
            {% endif %}
        {% endwith %}

        <div class="link-outer">
            <div class="desktop-links">
                {% if config_global %}
                    {% for item in config_global.itens_menu.all %}
                        {% if item.header_type|lower == header_type_lower and not item.escondido %}
                            <a href="{{ item.link }}">{{ item.nome }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="button-outer" onclick="toggleMenu()">
                <div class="button">
                    <div id="icon"></div>
                </div>
            </div>
        </div>

        <div class="links" id="menu">
            {% if config_global %}
                {% if header_type_lower != 'rcb' %}
                    <div class="olimpo-plug flex-center flex-between">
                        <div class="flex-center">
                            <a href="/"><img style="height: var(--text-size-medium);" src="{% static 'images/favicon/rcb.png' %}"></a><span>Uma iniciativa <br class="mobile-only"><a href="/">Robocup Brasil</a></span>
                        </div>
                        <a href="https://olimpo.robocup.org.br"><img class="rcb-product" src="{% static 'images/header/olimpo.png' %}" alt="Logo Olimpo"/></a>
                    </div>
                {% endif %}
                <div class="center-block{% if header_type_lower not in config_global.headers_with_hidden_items %} empty{% endif %}">
                    <div style="flex-grow: 1">
                        {% for item in config_global.itens_menu.all %}
                            {% if item.header_type|lower == header_type_lower %}
                                {% if item.escondido %}
                                    <a class="menu-link" href="{{ item.link }}">{{ item.nome }}</a>
                                {% else %}
                                    <div class="mobile-only">
                                        <a class="menu-link" href="{{ item.link }}">{{ item.nome }}</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="local-representation">
                        <div class="header">
                            <strong>Representações locais:</strong>
                            <br><span class="text-small">Organizam eventos RoboCup no seu estado.</span>
                        </div>
                        <div class="uf-list">
                            {% for sigla, nome in Regiao.choices %}
                                <a class="uf" href="/estado/{{ sigla }}{% if header_type_lower != 'rcb' %}?ref={{ header_type_lower }}{% endif %}" title="{{ nome }}">
                                    {% with image_path='images/bandeiras/'|add:sigla|lower|add:'.png' %}
                                        <img alt="{{ sigla }}" src="{% static image_path %}"/>
                                    {% endwith %}
                                    <div>{{ sigla }}</div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if header_type_lower != 'rcb' %}
                    <div class="rcb-links">
                        {% for item in config_global.itens_menu.all %}
                            {% if item.header_type|lower == 'rcb' and item.escondido %}
                                <a href="{{ item.link }}">{{ item.nome }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="rcb-links images">
                        <a href="{{ config_global.logo_link_mnr }}"><img class="rcb-product" src="{% static 'images/header/mnr.png' %}" alt="Logo MNR"/></a>
                        <a href="{{ config_global.logo_link_cbr }}"><img class="rcb-product" src="{% static 'images/header/cbr.png' %}" alt="Logo CBR"/></a>
                        <a href="{{ config_global.logo_link_obr }}"><img class="rcb-product" src="{% static 'images/header/obr.png' %}" alt="Logo OBR"/></a>
                        <a href="https://olimpo.robocup.org.br"><img class="rcb-product" src="{% static 'images/header/olimpo.png' %}" alt="Logo Olimpo"/></a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </main>
</header>