{% load i18n admin_icons %}
<div class="search-modal items-center">
    <div class="flex flex-col items-center w-fit max-w-full p-2">
        <input id="search-modal-input" type="text" placeholder="Buscar..." class="border-0 bg-base-100 px-6 py-3 rounded-md block w-modal max-w-full">

        <div id="search-list" class="relative bg-base-100 w-modal max-w-full -mt-2 p-4 pl-5 rounded-b max-h-96 overflow-y-auto flex flex-col md:flex-row gap-2 md:flex-wrap">
            <a class="px-4 py-2 block hover:bg-base-200" href="/admin/">
                <i class="mr-3 fa fa-clock"></i> Histórico
            </a>
            {% for app in app_list %}
                {% if app.models|length == 1 %}
                    <a class="px-4 py-2 block hover:bg-base-200" href="{{ app.models.0.admin_url }}">
                        <i class="mr-3 {{ app.icon }}"></i>{{ app.name }}
                    </a>
                    {% if app.models.0.object_name|lower != 'logentry' %}
                        <a class="px-4 py-2 block hover:bg-base-200" href="{{ app.models.0.admin_url }}add/">
                            <i class="mr-3 {{ app.icon }}"></i> Adicionar {{ app.name }}
                        </a>
                    {% endif %}
                {% else %}
                    {% for model in app.models %}
                        <a class="px-4 py-2 block hover:bg-base-200 model-{{ model.object_name|lower }}" href="{{ model.admin_url }}">
                            <i class="mr-3 {{ model.object_name|get_model_icon }}"></i>{{ model.name }}
                        </a>
                        <a class="px-4 py-2 block hover:bg-base-200 model-{{ model.object_name|lower }}-add" href="{{ model.admin_url }}add">
                            <i class="mr-3 {{ model.object_name|get_model_icon }}"></i>Adicionar {{ model.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <a class="px-4 py-2 block hover:bg-base-200" href="/admin/">
                <i class="mr-3 fa fa-user-tie"></i>Administrativo Home
            </a>
            <a class="px-4 py-2 block hover:bg-base-200" href="/">
                <i class="mr-3 fa fa-house"></i>Site RoboCup Brasil
            </a>
        </div>
    </div>
</div>
<div id="smartToggle" draggable="false" onclick="document.getElementById('sidebar-toggle').click();"></div>
<div id="sidebar" draggable="false" class="flex flex-col justify-between sidebar bg-base-100 border-base-200 border-e select-none toggled overflow-hidden">
    <!-- Sidebar header with logo -->
    <a class="flex flex-row group h-16 py-4 items-center justify-center" href="/">
        {% if logo %}
            <div class="w-fit">
                <img loading="lazy" class="shrink-0 bg-white h-13 w-40 md:w-48 md:group-hover:w-40 px-2 py-2.5 m-auto rounded-full object-contain" src="{{ logo }}">
            </div>
        {% else %}
            <div class="w-full">
                {{ site_title|default:'Django Daisy' }}
            </div>
        {% endif %}
    </a>

    <!-- Sidebar menu -->
    <ul class="menu rounded-box mb-auto w-56 max-sm:text-xs">
        <!-- Search -->
        <div class="px-2 mb-2">
            <label id="sidebar-search-label" class="input p-1 border-0 border-b-1 shadow-none flex items-center gap-2" style="border-radius: 0;">
                <i class="fa fa-search opacity-70"></i>
                <input type="text" id="sidebar-search" class="grow" placeholder="Buscar..." />
            </label>
        </div>
        
        <!-- Dashboard link -->
        <li>
            <a href="{% url 'admin:index' %}">
                <i class="fa fa-clock"></i>
                {% trans 'Histórico' %}
            </a>
        </li>

        <!-- App list -->
        {% for app in app_list %}

            {% if app.divider_title %}
                <div class="divider text-base-content/40 menu-title divider-start">{{ app.divider_title|safe }}</div>
            {% endif %}

            <li class="mb-2">
                {% if app.models|length == 1 %}
                    <a class="{% if app.models.0.admin_url in request.path|urlencode %} menu-active{% endif %}"
                       href="{{ app.models.0.admin_url }}">
                        <i class="{{ app.icon }}"></i>
                        {{ app.name }}
                    </a>
                {% else %}
                    <details {% if app.app_url in request.path|urlencode %} open {% endif %}>
                        <summary>
                            <i class="{{ app.icon }}"></i>
                            {{ app.name }}
                        </summary>
                        <ul>
                            {% for model in app.models %}
                                <li class="model-{{ model.object_name|lower }}">
                                    <a class="{% if model.admin_url in request.path|urlencode %} menu-active {% endif %}"
                                    href="{{ model.admin_url }}">
                                        <i class="{{ model.object_name|get_model_icon }}"></i>
                                        {{ model.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </details>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if not app_list %}
        <ul class="menu rounded-box w-56">
            <li>{% translate 'You don’t have permission to view or edit anything.' %}</li>
        </ul>
    {% endif %}

    <div class="text-center right-0 text-xs left-0 mx-auto">
        <span>
            &copy; {% now "Y" %} RoboCup Brasil {{ SIDEBAR_FOOTNOTE|safe }}
        </span>
        {% if not DONT_SUPPORT_ME %}
            <a target="_blank" class="block p-2 text-base-content/70  hover:underline"
               href="https://github.com/lluckymou">
                Feito com carinho por llucmou 🌲
            </a>
        {% endif %}
    </div>
</div>
