/*
    Global Styles that will affect all pages: 
    - Variables, Body, Footer and Header.

    (Unaffected by rcb.css)
*/

@font-face {
    font-family: "Nunito";
    src: url('../fonts/Nunito-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: 200 1000;
    font-display: swap;
}

:root {
    /* Important */
    --yang: #f4fcfc;
    --yin: #2c2e35;
    --default-measure: 1rem;
    --shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    --shadow-hover: 0 0 6px rgba(0, 0, 0, 0.15);
    --transition: all 0.3s ease-in-out;
    --container: 1250px;
    --header-logo: 3.5rem;
    --header-js: 0px;

    /* Containers */
    --header-footer-border: color-mix(in srgb, var(--yang), transparent 30%);

    /* Text-Sizes */
    --text-size-xsmall: 0.75rem;
    --text-size-small: 0.875rem;
    --text-size-default: 1rem;
    --text-size-medium: 1.1rem;
    --text-size-medium-plus: 1.2rem;
    --text-size-large: 1.25rem;
    --text-size-large-plus: 1.5rem;
    --text-size-large-plus-plus: 1.75rem;
    --text-size-xlarge: 2rem;
    --text-size-xlarge-plus: 2.25rem;
    --text-size-xxlarge: 2.5rem;
    --text-size-xxxlarge: 2.75rem;
    --text-size-xxxxlarge: 3rem;

    /* Colors */
    --red: #EB6047;
    --red-secondary: #D7523A;
    --orange: #F5821F;
    --orange-secondary: #E07B25;
    --yellow: #E8C347;
    --yellow-secondary: #DAB439;
    --gray: #939598;
    --gray-secondary: #828282;
    --green: #84C54F;
    --green-secondary: #71B13C;
    --blue: #5F95CF;
    --blue-secondary: #5688BE;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* { box-sizing: border-box; }
*:not(.mapa-container *) { transition: var(--transition); }

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--text-size-default);
    background-color: var(--yang);
    color: var(--yin);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--blue-secondary);
}

a:hover {
    text-shadow: var(--shadow);
}

section { position: relative; }

/* Footer Styles */
footer {
    color: var(--yang);
    margin: calc(var(--default-measure) * 0.5);
    border-radius: var(--default-measure);
    border: 5px solid var(--header-footer-border);
    overflow: hidden;
    box-shadow: var(--shadow);
}

footer:hover {
    box-shadow: var(--shadow-hover);
}

footer .base {
    padding: calc(var(--default-measure) * 2);
    background-color: var(--blue-secondary);
    background-image: url('../images/watermark.png');
    background-position: center center;
    background-repeat: no-repeat;
}

footer .logo {
    height: 40px;
    display: block;
    margin: 0 auto;
}

footer .copyright {
    padding: calc(var(--default-measure) * 0.4) var(--default-measure);
    background-color: var(--blue);
    font-size: var(--text-size-small);
    text-align: center;
}

footer .socials {
    text-align: center;
    font-weight: 500;
}

footer .socials p {
    margin: calc(var(--default-measure) * 2) auto;
    font-size: var(--text-size-medium);
    max-width: 450px;
}

footer .socials .links {
    display: flex;
    gap: var(--default-measure);
    justify-content: center;
}

footer .socials .links * {
    text-decoration: none;
    display: block;
}

footer .socials .links img {
    height: calc(var(--default-measure) * 1.8);
}

footer .socials .links img:hover {
    opacity: 0.75;
}

footer .socials .return {
    margin-top: calc(var(--default-measure) * 2);
    font-weight: 300;
    text-decoration: none;
    padding: calc( var(--default-measure) * 0.5) var(--default-measure);
    display: block;
    border: 1px solid var(--yang);
    width: fit-content;
    color: var(--yang);
    margin-left: auto;
    margin-right: auto;
}

footer .socials .return:hover {
    background-color: var(--yang);
    color: var(--blue-secondary);
}

footer .shortcuts, footer .contact {
    text-align: center;
    font-size: var(--text-size-medium);
}

footer .shortcuts strong, footer .contact strong {
    display: block;
    margin: calc(var(--default-measure) * 2.5) 0 var(--default-measure) 0;
}

footer .link-content {
    display: flex;
    gap: var(--default-measure);
    flex-wrap: wrap;
    justify-content: center;
}

footer .link-content a, footer .main-email {
    display: block;
    text-decoration: none;
    color: var(--yang);
    font-size: var(--text-size-medium);
}

footer .shortcuts .link-content a:first-child, footer .main-email {
    text-decoration: underline;
    font-weight: 500;
}

footer .link-content a:hover, footer .shortcuts .link-content a:first-child:hover, footer .main-email:hover {
    font-weight: bold;
}

footer .main-email {
    margin-bottom: calc(var(--default-measure) * 1.25);
    font-size: var(--text-size-large);
}

header.floating {
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background: transparent;
    height: auto;
    overflow: hidden;
}

header main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: calc(var(--default-measure) * 0.75);
    padding: calc(var(--default-measure) * 0.75);
    transition: opacity 70ms ease-in-out;
    opacity: 1;
}

header.floating.scrolled {
    max-width: var(--container);
    box-shadow: var(--shadow);
    background: var(--header-footer-border);
    backdrop-filter: blur(4px);
}

header.floating.scrolled main {
    display: flex;
    background-color: color-mix(in srgb, var(--yang), transparent 30%);
    border-radius: var(--default-measure);
}

header.main {
    padding-top: calc(var(--default-measure) * 0.5);
    max-width: var(--container);
    margin-left: auto;
    margin-right: auto;
    min-height: calc(calc(calc(var(--default-measure) * 0.5) + calc(var(--header-logo) + calc(var(--default-measure) * 3))) + var(--header-js));
}

header.floating .rcb, header.floating .obr, header.floating .cbr, header.floating .mnr {
    width: 100%;
    height: calc(var(--default-measure) * 0.5);
    background-color: var(--blue-secondary);
}

header.floating .obr {
    background: linear-gradient(
        to right, 
        var(--red) 0%, var(--red) 16.66%, 
        var(--orange) 16.66%, var(--orange) 33.33%, 
        var(--yellow) 33.33%, var(--yellow) 50%, 
        var(--gray) 50%, var(--gray) 66.66%, 
        var(--green) 66.66%, var(--green) 83.33%, 
        var(--blue) 83.33%, var(--blue) 100%
    );
}

header.floating .cbr {
    background-color: var(--gray-secondary);
}

header.floating .mnr {
    background-color: var(--yellow-secondary);
}

header main .logo {
    height: calc(var(--header-logo) * 0.7);
}

header .button-outer {
    padding: calc(var(--default-measure) * 0.5);
    border: 1px solid color-mix(in srgb, var(--yin), transparent 90%);
    border-radius: calc(var(--default-measure) * 0.5);
    cursor: pointer;
}

header .button {
    position: relative;
    height: calc(var(--header-logo) * 0.5);
    width: calc(var(--header-logo) * 0.5);
    transition: transform 0.1s ease;
}

header .button-outer:hover #icon {
    transform: scale(1.1);
}

header .button #icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--yin);
    mask-image: url('../images/header/open.png');
    mask-size: 100%;
    transition: all 0.1s ease;
}

header .button #icon.active {
    mask-image: url('../images/header/close.png');
}

header .desktop-links {
    display: none;
}

header #menu {
    padding: 0;
    max-height: 0;
    opacity: 0;
    width: 100%;
    visibility: hidden;
    overflow: auto;
}

header #menu.active {
    visibility: visible;
    opacity: 1;
    margin: calc(var(--default-measure) * 0.5) 0;
    max-height: 1000px;
    overflow-y: scroll;
    max-height: 60vh;
}

header #menu .menu-link {
    text-decoration: none;
    color: var(--gray-secondary);
    font-weight: 550;
    margin: calc(var(--default-measure) * 0.55) 0;
    display: block;
    font-size: var(--text-size-medium);
    padding: calc(var(--default-measure) * 0.65) var(--default-measure);
    border-left: 2px solid var(--blue);
}

header #menu .menu-link:hover {
    text-shadow:  0 0 6px var(--yin);
    background-color: color-mix(in srgb, var(--gray-secondary), transparent 70%);
    color: var(--yang);
}

header .flex-center {
    gap: calc(var(--default-measure) * 0.35);
    display: flex;
    align-items: center;
}

header .olimpo-plug {
    color: var(--gray-secondary);
    justify-content: space-between;
    line-height: 0.9;
    padding-bottom: calc(var(--default-measure) * 0.5);
    border-bottom: 1px solid var(--gray);
}

header .olimpo-plug a {
    text-decoration: none;
    color: var(--gray-secondary);
    font-weight: 600;
}

header .rcb-product{
    height: calc(var(--header-logo) * 0.4);
}

header .center-block {
    border-bottom: 1px solid var(--gray);
    padding-bottom: calc(var(--default-measure) * 0.65);
}

header .center-block.empty .local-representation {
    display: none;
}

header .local-representation {
    border-radius: var(--default-measure);
    color: var(--yang);
    text-shadow: var(--shadow-hover);
    background-color: color-mix(in srgb, var(--blue), transparent 20%);
    padding: var(--default-measure);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .local-representation .header {
    line-height: 1.1;
    margin-bottom: var(--default-measure);
}

header .uf-list {
    margin-top: calc(var(--default-measure) * 0.5);
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    gap: var(--default-measure);
}

header .uf-list img {
    height: var(--default-measure);
    aspect-ratio: 3/2;
}

header .uf {
    color: var(--yang);
    text-decoration: none;
    text-align: center;
    opacity: 50%;
}

header .uf:hover {
    filter: unset;
    opacity: 1;
}

header .uf * {
    font-weight: 700;
}

header .rcb-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--default-measure) * 0.5) calc(var(--default-measure) * 2);
    padding-top: calc(var(--default-measure) * 0.5);
    flex-wrap: wrap;
    margin-top: calc(var(--default-measure) * 0.65);
}

header .rcb-links.images {
    gap: calc(var(--default-measure) * 1.25) calc(var(--default-measure) * 2);
}

header .rcb-links a {
    font-size: var(--text-size-small);
    text-decoration: none;
    color: var(--gray-secondary);
    font-weight: 500;
}

header .rcb-links a:hover {
    color: var(--yin);
}

.container {
    position: relative;
    margin: calc(var(--default-measure) * 0.5);
    padding: calc(var(--default-measure) * 0.5);
}

.sponsors img {
    border-radius: var(--default-measure);
    width: 100%;
    padding: 0;
    box-shadow: var(--shadow);
    opacity: 80%;
}

.sponsors img:hover {
    opacity: 100%;
}

.sponsors img:hover {
    box-shadow: var(--shadow-hover);
}

.sponsors img:nth-child(2) {
    display: none;
}

@media (min-width: 831px) {
    footer {
        margin: var(--default-measure);
        max-width: var(--container);
        margin-left: auto;
        margin-right: auto;
    }

    footer .base {
        display: flex;
        padding: calc(var(--default-measure) * 3);
        background-position: center right;
        background-size: 65%;
    }

    footer .logo {
        margin: 0;
    }

    footer section:not(.socials) {
        flex: 1;
    }

    footer .socials {
        flex: 3;
        text-align: start;
    }

    footer .socials .links {
        justify-content: start;
    }

    footer .socials .return, footer .socials p {
        margin-left: 0;
        margin-right: 0
    }

    footer .shortcuts, footer .contact {
        text-align: start;
    }

    footer .shortcuts strong, footer .contact strong {
        margin: calc(var(--default-measure) * 0.25) 0 calc(var(--default-measure) * 0.8) 0;
    }

    footer .link-content {
        display: block;
    }

    footer .link-content a {
        margin: calc(var(--default-measure) * 0.5) auto;
    }

    footer .main-email {
        margin-bottom: calc(var(--default-measure) * 0.75);
        font-size: var(--text-size-medium);
    }

    header main {
        padding: var(--default-measure);
    }

    header main.transferring {
        opacity: 0;
        pointer-events: none;
    }
    
    header main .logo {
        height: var(--header-logo);
    }

    header.floating.scrolled {
        margin-top: var(--default-measure);
        border-radius: 0 0 var(--default-measure) var(--default-measure);
    }

    header.floating.scrolled:hover {
        box-shadow: var(--shadow-hover);
    }
    
    header .desktop-links {
        display: flex;
        gap: calc(var(--default-measure) * 3.25);
        align-items: center;
    }

    header .link-outer {
        display: flex;
        gap: calc(var(--default-measure) * 3.25);
        align-items: center;
    }

    header .desktop-links a {
        text-decoration: none;
        color: var(--yin);
    }

    header #menu {
        overflow: hidden;
    }

    header #menu.active {
        overflow-y: hidden;
    }

    header #menu .menu-link {
        font-size: var(--text-size-default);
    }

    header .desktop-links a:hover {
        opacity: 0.65;
    }

    header .rcb-product{
        height: calc(var(--header-logo) * 0.5);
        filter: grayscale(1);
        opacity: 65%;
    }

    header .rcb-product:hover {
        filter: unset;
        opacity: 100%;
    }

    header .olimpo-plug  {
        padding-bottom: var(--default-measure);
    }

    header .center-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: calc(var(--default-measure) * 0.65) 0;
        gap: var(--default-measure);
    }

    header .center-block.empty {
        display: none;
    }

    header .local-representation {
        max-width: 380px;
    }
    
    header .uf {
        filter: grayscale(1);
        opacity: 40%;
    }

    header .rcb-links  {
        justify-content: space-evenly;
        padding-top: var(--default-measure);
    }

    .container {
        padding: var(--default-measure);
        margin: var(--default-measure);
        max-width: var(--container);
        margin: 0 auto;
    }

    .sponsors img:nth-child(1) {
        display: none;
    }

    .sponsors img:nth-child(2) {
        display: block;
    }
}