{%  load static %}

<div class="funcionarios-wrapper">
    <div class="funcionarios">
        {% for func in funcionarios %}
            <div class="funcionario">
                {%  if func.foto %}
                    <img src="/media/{{ func.foto }}" draggable="false" alt="{{ func.nome }} - {{ func.cargo }}"/>
                {% else %}
                    <img src="{% static 'images/clouds/robot-happy.png' %}" draggable="false" alt="{{ func.nome }} - {{ func.cargo }}"/>
                {% endif %}
                <div>
                    <h3 class="margin-y-0/ text-large">{{ func.nome }}</h3>
                    {%  if func.cargo %}<p class="text-medium margin-0">{{ func.cargo }}</p>{% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="scroll-indicator" style="display: none;"><i class="fa fa-arrows-h"></i></div>
</div>