{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ pagina.nome }} |
    {% if header_type == 'OBR' %}
        Olimpíada Brasileira de Robótica
    {% elif header_type == 'CBR' %}
        Competição Brasileira de Robótica
    {% elif header_type == 'MNR' %}
        Mostra Nacional de Robótica
    {% else %}
        RoboCup Brasil
    {% endif %}
{% endblock %}

{% block extra_head %}
    {% if pagina.privada %}
        <meta name="robots" content="noindex">
    {% endif %}
    {% with header_type_lower=header_type|lower %}
        <link rel="icon" href="{% static 'images/favicon/'|add:header_type_lower|add:'.png' %}" type="image/png"/>
    {% endwith %}
{% endblock %}

{% block header %}
    {% include "components/header.html" with header_type_lower=header_type|lower %}
{% endblock %}

{% block content %}
    {% for comp in componentes_rendered %}
        {{ comp | safe }}
    {% endfor %}
{% endblock %}