{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ nome_estado }} ({{ sigla }}) | RoboCup Brasil
{% endblock %}

{% block extra_head %}
    <link rel="icon" href="{% static 'images/favicon/rcb.png' %}" type="image/png"/>
{% endblock %}

{% block header %}
    {% include "components/header.html" with header_type_lower="rcb" %}
{% endblock %}

{% block content %}
    <h1>{{ nome_estado }} ({{ sigla }})</h1>
    {% with "images/bandeiras/"|add:sigla|lower|add:".png" as image_path %}
        <img src="{% static image_path %}" alt="Bandeira {{ sigla }}">
    {% endwith %}

    <div class="conteudo-estado">
        {{ texto | safe }}  <!-- CKEditor HTML -->
    </div>
{% endblock %}