{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ nome_estado }} ({{ sigla }}) | RoboCup Brasil
{% endblock %}

{% block extra_head %}
    <link rel="icon" href="{% static 'favicon_rcb.png' %}" type="image/png"/>
{% endblock %}

{% block header %}
    {% include "components/header_rcb.html" %}
{% endblock %}

{% block content %}
    <h1>{{ nome_estado }} ({{ sigla }})</h1>
    <img src="{{ bandeira }}" alt="Bandeira de {{ nome_estado }}" width="300" height="180">

    <div class="conteudo-estado">
        {{ texto | safe }}  <!-- CKEditor HTML -->
    </div>
{% endblock %}