{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ noticia.titulo }} |
    {% if header_type == 'OBR' %}
        Olimpíada Brasileira de Robótica
    {% elif header_type == 'CBR' %}
        Competição Brasileira de Robótica
    {% elif header_type == 'MNR' %}
        Mostra Nacional de Robótica
    {% else %}
        RoboCup Brasil
    {% endif %}
{% endblock %}

{% block extra_head %}
    {% with header_type_lower=header_type|lower %}
        <link rel="icon" href="{% static 'images/favicon/'|add:header_type_lower|add:'.png' %}" type="image/png"/>
    {% endwith %}
{% endblock %}

{% block header %}
    {% include "components/header.html" with header_type_lower=header_type|lower %}
{% endblock %}

{% block content %}
    {% if header_type == 'OBR' %}
        <section class="bg-yellow-secondary mb-obr">
            <border-detail class="container obr yellow-secondary bottom right cut small desktop:big"></border-detail>
    {% elif header_type == 'CBR' %}
        <section class="bg-gray mb-cbr">
            <border-detail class="container cbr gray bottom right cut small desktop:big"></border-detail>
    {% elif header_type == 'MNR' %}
        <section class="bg-green-secondary mb-mnr">
            <border-detail class="container mnr green-secondary bottom right cut small desktop:big"></border-detail>
    {% else %}
        <section class="bg-blue">
    {% endif %}
            <div class="container padding-y-1 text-yang text-shadow-darker bold text-medium">
                Visualizar Notícia
            </div>
        </section>
    <article class="container">
        <div class="margin-y-1/ desktop:margin-y-2">
            <h1 class="margin-0 extra-bold text-xlarge desktop:text-xxlarge">{{ noticia.titulo }}</h1>    
            <p class="margin-0 text-gray-secondary">Publicado em {{ noticia.data|date:"d/m/Y" }}</p>
            <p class="margin-y-1/">{{ noticia.chamada }}</p>
            <div class="flex flex-between flex-reverse desktop:flex-row">
                {% if noticia.imagem %}
                    <a class="square-button" href="#conteudo">Ler Mais</a>
                {% endif %}
                <div class="{% if noticia.imagem %} desktop:text-align-right {% endif %}">
                    {% if noticia.tags.exists %}
                        <p><strong>Tags:</strong><br/>{{ noticia.tags.all|join:", " }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if noticia.imagem %}
            <div class="post-header border-radius">
                <img alt="Imagem de Fundo da Publicação" class="background" src="/media/{{ noticia.imagem }}"/>
                <img alt="Imagem da Publicação" class="foreground" src="/media/{{ noticia.imagem }}"/>
                <div class="box-shadow"></div>
            </div>
        {% endif %}

        <div id="conteudo" class="texto-container w-100 text-yin">
            <div class="markdown-raw" style="display:none;">{{ noticia.conteudo }}</div>
            <div class="markdown-rendered"></div>
            <div class="markdown-spinner" style="display:none;"><i class="fa fa-spin fa-spinner"></i></div>
        </div>
    </article>
{% endblock %}